* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 100px;
}

.w-5 {
    width: 20%;
}

.box {
    height: 300px;
    background-color: silver;
}

.w-5:nth-child(2) .box {
    background-color: goldenrod;
}

.w-5:nth-child(3) .box {
    background-color: darkolivegreen;
}

.w-5:nth-child(4) .box {
    background-color: cornflowerblue;
}

.w-5:last-child .box {
    background-color: burlywood;
}